.header {
  padding: 15px;
  margin-bottom: 5em;
  background-color: #0f1112;
  height: 50px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center; }

.header__logo {
  max-height: 70%;
  width: auto; }

.header__btn {
  position: absolute;
  left: 2.5em;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center; }
  .header__btn:hover {
    cursor: pointer; }

.header__arrow {
  padding: 1em;
  max-width: 35px;
  height: auto; }

.img-mission-patch {
  padding-top: 1.5em; }

.linksSection {
  background-image: url(rocket.png);
  background-size: cover;
  background-position: center;
  height: 600px;
  text-align: center; }

.footer {
  background-color: #22272b;
  height: 100px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between; }

.footer__item::after {
  content: "|";
  padding-left: 0.5em; }

.heroSection {
  margin: auto;
  padding-top: 50px;
  text-align: center; }

.heroImg {
  background-image: url(moon.png);
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  height: auto;
  width: 65%;
  text-align: center;
  margin: auto;
  padding-top: 25%; }

.heroSection__logo {
  max-width: 60%;
  padding-top: 10%;
  margin-left: 8%; }

.launchesList {
  background-color: #0f1112;
  color: #fff; }

.launch {
  padding: 50px 0 100px; }

.launch__items {
  width: 50%; }
  .launch__items:hover {
    cursor: pointer; }

.launch__items:nth-child(odd) {
  border-right: 1px dashed #666666;
  text-align: left; }

.launch__items:nth-child(even) {
  border-left: 1px dashed #666666;
  margin-left: 50%;
  text-align: right; }

.launch__item {
  padding: 20px; }

.launch__arrow {
  border: 0 solid #ccac5b;
  border-top-width: 2px; }

.lauch__arrow::after {
  content: url(require("../img/arrow_pointer.png")); }

body {
  margin: 0; }

main {
  margin: 0 auto; }

ul {
  list-style: none;
  padding: 0; }

a {
  text-decoration: none; }

.container {
  padding: 0;
  margin: 1em 0 5em; }

.container--flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex; }

.container--list {
  margin-bottom: 0; }

.container--linksSection {
  padding-top: 400px; }

.container--footerSection {
  margin: 0;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center; }

.section {
  padding: 0 2em; }

.col {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  padding: 0 1.5em; }

.col--list {
  border-left: 1px dashed #a7a9ac; }

.list-item {
  padding: 0 0.2em; }

.list-item--launch {
  padding: 0; }

html {
  font-family: OpenSans, sans-serif;
  font-weight: 400;
  font-size: 14px;
  letter-spacing: 1px;
  color: #22272b;
  line-height: 22px; }

hr {
  border: 0 solid #ccac5b;
  border-top-width: 0.9px; }

.list-item {
  text-transform: uppercase; }

.list-item--title {
  color: #a7a9ac; }

.list-item--date {
  letter-spacing: 0.6em; }

.header_big {
  font-weight: 600;
  font-size: 36px;
  letter-spacing: 1.5px;
  color: #22272b;
  text-transform: uppercase;
  line-height: 40px;
  margin-bottom: 0; }

.header_sml_semibold {
  font-weight: 600;
  font-size: 24px;
  letter-spacing: 18px;
  color: #ffffff;
  text-transform: uppercase; }

.header_sml {
  font-weight: normal;
  font-size: 24px;
  color: #a7a9ac;
  text-transform: uppercase;
  letter-spacing: 18px; }

.basic_exp_semibold {
  font-weight: 600;
  font-size: 14px;
  letter-spacing: 9px;
  color: #ccac5b;
  text-transform: uppercase; }

.basic_exp_semibold--date {
  color: #a7a9ac; }

.footer {
  text-transform: uppercase;
  color: #666666; }

.social-link {
  color: #a7a9ac; }

.counter {
  text-transform: uppercase; }

.btns-collection {
  padding: 2em; }

.btn {
  color: #ffffff;
  padding: 0.5em 2em;
  margin: 2em 0.75em;
  border: 1px solid #ffffff;
  border-radius: 1.5em;
  text-transform: uppercase; }
  .btn:hover {
    color: #0f1112;
    background-color: #ffffff;
    cursor: pointer; }

.nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex; }

.nav__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex; }

.social-link {
  padding: 0.5em; }


/*# sourceMappingURL=main.css.map*/